
<div class="card p-3 mb-3 mx-3">
    <div class="d-flex">
      <%= icon_display(decor) %>
      <div class="card-body pt-1">
          <div class="d-flex justify-content-between">
              <h5 class="card-title"><%= decor.name%>
              <small>
    
              <%= link_to edit_user_decor_path(@user,decor) do %>
                <button class="btn btn-secondary">
                    Edit
                </button>
              <% end %>
              <%= link_to user_decor_path(@user,decor), method: :delete, 
              data: {confirm: "Are you sure you want to delete?"} do %>
                <button class="btn btn-danger">
                    Delete
                </button>
              <% end %>
              </small>
              </h5>
              <p class="card-text"><%=number_to_currency(decor.price)%></p>
          </div>
      
       <%= link_to "Add another category", new_user_decor_decor_category_path(@user, decor), class: "btn btn-secondary btn-sm" %>
       <p class="mb-0 mt-4"><%= decor.created_at.strftime("%d %B %Y")%></p>
      </div>
  </div>
</div>