
<div class="card p-3 mb-3 mx-3">
    <div class="d-flex">
      <%= icon_display(decor) %>
      <div class="card-body pt-1">
          <div class="d-flex justify-content-between">
              <h5 class="card-title"><%= decor.name%>
              <small>
              <%= link_to 'Edit', edit_user_decor_path(@user,decor), class: "card-link text-warning" %>
              <%= link_to 'Delete', user_decor_path(@user,decor), method: :delete, data: {confirm: "Are you sure you want to delete?"}, 
                class: "card-link ml-0 text-danger"%></small>
              </h5>
              <p class="card-text"><%=number_to_currency(decor.price)%></p>
          </div>

        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add another category</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                 <%= form_with scope: :decor_category, url: user_decor_decor_categories_path(@user,decor), local: true do |f| %>
                   <div class="form-group">
                    <%= f.select :category_id, options_from_collection_for_select(available_categories(decor), :id, :name), {include_blank: "Select Category"}, {class: "custom-select mb-1"} %>
                  </div>
                 <div class="form-group">
                    <%= f.submit "New category", class: 'btn btn-success btn-block' %>
                 </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

       <p class="mb-0 mt-4"><%= decor.created_at.strftime("%d %B %Y")%></p>
      </div>
  </div>
</div>