 <div class="show-page d-flex flex-column align-items-center pt-5">
         <%= render 'layouts/flash' %>
         <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.username) %>
         <h4><%= sanitize @user.username.html_safe %></h4>
         <div class="card px-5 my-2 card-width">
            <div class="d-flex show-list align-items-center">
             <%= fa_icon "image", class: "fa-3x" %>
             <h5 class="ml-2 w-100"><%= link_to "My Decors.", user_decors_path(@user), class: "link" %></h5>
            </div>
         </div>
         <div class="card px-5 my-2 card-width">
            <div class="d-flex show-list align-items-center">
                <%= fa_icon "image", class: "fa-3x" %>
                <h5 class="ml-2 w-100"> <%= link_to "My uncategorized decors.", user_unlisted_decor_path(@user), class: "link" %></h5>
            </div>
        </div>
        <div class="card px-5 my-2 card-width">
            <div class="d-flex show-list align-items-center">
                <%= fa_icon "users", class: "fa-3x" %>
                <h5 class="ml-2 w-100"><%= link_to "Categories.", categories_path, class: "link" %></h5>
            </div>
        </div>
 </div>