 <div class="show-page d-flex flex-column align-items-center">
    <img width="100" height="100" class="rounded-circle mt-2" src="https://www.gravatar.com/avatar/8134bc8f6949f7b6ca2cd3b25ff86bc0?s=300" />
    <h4><%= @user.username %></h4>
    <div class="d-flex show-list align-items-center">
        <img width="50" height="50" class="rounded-circle" src="https://www.gravatar.com/avatar/8134bc8f6949f7b6ca2cd3b25ff86bc0?s=300" />
        <h5 class="ml-2 border-bottom font-weight-light"><%= link_to "My Decors.", user_decors_path(@user), class: "text-light" %></h5>
    </div>
    <div class="d-flex show-list align-items-center">
        <img width="50" height="50" class="rounded-circle" src="https://www.gravatar.com/avatar/8134bc8f6949f7b6ca2cd3b25ff86bc0?s=300" />
        <h5 class="ml-2 border-bottom font-weight-light"> <%= link_to "My uncategorized decors.", user_unlisted_decor_path(@user), class: "text-light" %></h5>
    </div>
    <div class="d-flex show-list align-items-center">
        <img width="50" height="50" class="rounded-circle" src="https://www.gravatar.com/avatar/8134bc8f6949f7b6ca2cd3b25ff86bc0?s=300" />
        <h5 class="ml-2 border-bottom font-weight-light"><%= link_to "Categories.", categories_path, class: "text-light" %></h5>
    </div>
    <%= link_to 'Log out', logout_path, method: :delete, class: 'btn btn-danger' %>
 </div>