 <div class="show-page d-flex flex-column align-items-center pt-2">
         <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.username) %>
         <h4><%= @user.username %></h4>
         <div class="d-flex show-list align-items-center">
             <%= fa_icon "image", class: "fa-3x" %>
             <h5 class="ml-2 border-bottom font-weight-light"><%= link_to "My Decors.", user_decors_path(@user), class: "text-light" %></h5>
         </div>
         <div class="d-flex show-list align-items-center">
             <%= fa_icon "image", class: "fa-3x" %>
             <h5 class="ml-2 border-bottom font-weight-light"> <%= link_to "My uncategorized decors.", user_unlisted_decor_path(@user), class: "text-light" %></h5>
         </div>
         <div class="d-flex show-list align-items-center">
             <%= fa_icon "users", class: "fa-3x" %>
             <h5 class="ml-2 border-bottom font-weight-light"><%= link_to "Categories.", categories_path, class: "text-light" %></h5>
         </div>
 </div>