<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurTransactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' if logged_in? %>
    <div class="container-fluid px-0 mt-5">
      <%= yield %>
    </div>
  </body>
</html>
